.weekly-schedule-table {
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
  }
  
  .weekly-schedule-row {
    height: 50px; 
  }
  
  .weekly-schedule-cell, .time-cell {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: top; 
    height: 50px; 
    overflow-y: auto; 
  }
  
  .weekly-schedule-table th,
  .weekly-schedule-table td {
    text-align: center;
  }
  
  .time-cell {
    font-weight: bold;
    background-color: #f5f5f5;
  }
  