.App {
  display: flex;
  flex-direction: row; /* Asegura que los elementos estén en fila */
  height: 100%;
  top: 0; /* Ocupa toda la pantalla verticalmente */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Hace que empiece fuera del viewport en la parte superior */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Regresa a su posición original */
  }
}

.sidebar {
  top: 0; 
  width: 250px; /* Ancho fijo para la barra lateral */
  background-color: #314051;
  padding: 20px 10%;
  height: 100%; /* Asegura que ocupe toda la altura */
  
  
}

.SidebarList {
  margin-top: 0;
  position: fixed;
  height: 100%;
  width: 200px;
  padding: 0;
  background-color: #314051;

}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 0.2s ease-in-out forwards; /* Aplica la animación */
}

.SidebarList .row:nth-child(1) {animation-delay: 0s;}
.SidebarList .row:nth-child(2) {animation-delay: 0.1s;}
.SidebarList .row:nth-child(3) {animation-delay: 0.15s;}
.SidebarList .row:nth-child(4) {animation-delay: 0.2s;}
.SidebarList .row:nth-child(5) {animation-delay: 0.25s;}
.SidebarList .row:nth-child(6) {animation-delay: 0.3s;}
.SidebarList .row:nth-child(7) {animation-delay: 0.35s;}
.SidebarList .row:nth-child(8) {animation-delay: 0.4s;}

.SidebarList .row:hover {
  cursor:pointer;
  background-color: #293846;
}

.SidebarList #activate {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}


.content {
  flex: 1; /* Ocupa el resto del espacio disponible */
  padding: 20px;
  overflow-y: auto; /* Permite hacer scroll si el contenido es muy grande */
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.MuiTable-root {
  width: 100%;
}

.MuiTableCell-root {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.sidebar-header {
    font-size: 24px; /* Tamaño de la fuente grande */
    font-weight: bold; /* Negrita */
    color: white; /* Ajusta el color a tu gusto */
    text-align: bottom; /* Centra el texto */
    margin-bottom: 20px; /* Añade espacio debajo del texto */
    padding: 20px;
}

.navbar {
  width: 100%;
  background-color: #314051;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que el navbar esté siempre por encima */
  font-size: 24px;
  font-weight: bold;
}

.content {
  margin-top: 0px; /* Ajusta según la altura del navbar */
  padding: 20px;
  flex: 1;
  margin-left: 200px;
}